<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content, :rows => 5, :cols => 200, :style => :"margin: 0px 0px 10px; width: 683px; height: 133px;", :value => "Mi mala experiencia fue..." %>
  </div>
  <div class="actions pull-right">
    <%= f.submit "Submit", :class => "btn btn-primary" %>&nbsp;&nbsp;
  </div>
  <div class="span7">
	<%= f.select :category, ['Tegnología', 'Alimentos', 'Industria', 'Servicios', 'Startups'] %>
  </div>
<% end %>
