<% @posts.each do |post| %>
	<br />
	<br />
	<div class="thumbnail" style="height:200px; width:700px; #FFFFFF border:1px solid #000; margin:0 auto;">
		
  	<br />
  	<div class="span9">
	  	<blockquote class="pull-left">
	  		<p><%= post.content %></p>
	  		<small>
	  			<cite title="Source Title"><%= post.user.name %></cite>
	  		</small>
		</blockquote>
	</div>
	<div class="span4" style="margin:5px auto; border:1px">
		<%= button_to "+1 ", vote_post_path(post, type: "up", method: "post"), :class => "btn btn-small" %>
		<%= button_to "-1 ", vote_post_path(post, type: "down", method: "post"), :class => "btn btn-small" %>
		<br />
		<%= pluralize post.reputation_for(:votes).to_i, "vote" %>
		<br />
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= post.content %>" data-via="bbbox_" data-lang="es" data-hashtags="bbbox">Twittear</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<br />
		<br />
		<a class="btn btn-small" href="#">+ Info</a>
	</div>
  </div>	
<% end %>
<br />
<br />